@mixin flexbox($flex-dir: row, $align-items: center) {
	display: flex;
	flex-direction: $flex-dir;
	align-items: $align-items;
}

@mixin containerMobile {
	padding: 0 20px;
}

@mixin containerTablet {
	padding: 0 30px;
}

@mixin containerDesktop {
	padding: 0 70px;
}

@mixin background($url) {
	background: url($url) no-repeat center;
	background-size: contain;
}

@mixin spaceBetween {
	justify-content: space-between;
}

@mixin justifyContentCenter {
	justify-content: center;
}

@mixin alignItemsCenter {
    align-items: center;
}

@mixin textAlignCenter {
    text-align: center;
}

@mixin textAlignRight {
    text-align: right;
}

@mixin textAlignLeft {
    text-align: left;
}

@mixin uppercase {
    text-transform: uppercase;
}

@mixin capitalize {
    text-transform: capitalize;
}

@mixin display($status: block) {
    display: $status;
}

@mixin marginAuto {
    margin: 0 auto;
}