$primary-color: #F5F3EA;

$color-black: #252525;
$color-dark-grey: #333333;
$color-white: #FFF;

$typography-font-size-18: 18px;
$typography-font-size-20: 20px;
$typography-font-size-25: 25px;
$typography-font-size-24: 24px;
$typography-font-size-28: 28px;
$typography-font-size-30: 30px;
$typography-font-size-32: 32px;
$typography-font-size-35: 35px;
$typography-font-size-40: 40px;
$typography-font-size-46: 46px;
$typography-font-size-52: 52px;
$typography-font-size-62: 62px;
$typography-font-size-80: 80px;
$typography-font-size-150: 150px;
$typography-font-size-212: 212px;


// Base Font Families
$font-primary: 'Gilroy', sans-serif;
$font-secondary: 'Gilroy-Light', sans-serif;
$font-tertiary: 'Gilroy-Semi', sans-serif;
$font-quaternary: 'Gilroy-Bold', sans-serif;


