@use '../helpers/mixins.scss' as mixins;
@use '../helpers/variables.scss' as variables;
@use '../helpers/fonts.scss' as fonts; 

.contact {
    border-bottom: 1px solid rgba(37, 37, 37, 1);

    &-title{
        padding: 30px 20px 30px 20px;
        font-size: variables.$typography-font-size-80;
        font-family: variables.$font-primary;
        text-align: center;

    }
}
.start{

    &-title{
        padding: 0px 20px 30px 20px;
        font-size: variables.$typography-font-size-46;
        font-family: variables.$font-quaternary;
        text-align: center;
    }
    &-description{
        font-family: Gilroy-Medium;
        font-size: variables.$typography-font-size-30;
        line-height: 35.16px;
        text-align: center;
        text-underline-position: from-font;
        text-decoration-skip-ink: none;

    }
    &-get-in-button{
        background-color: black;
        padding: 15px 135px;
        margin-top: 30px;
        margin-bottom: 50px;
        border-radius: 50px;
        color: white;
        text-align: center;
        
        

        font-family: variables.$font-secondary;
        font-size: variables.$typography-font-size-18;
        line-height: 21.09px;
        text-underline-position: from-font;
        text-decoration-skip-ink: none;
        text-wrap: nowrap;

        &::after{
            content: '';
            background-image: url(..\images\contact\get-touch-btn.svg);
            display: inline-block;
            width: 33.33px;
            height: 21.41px;
            padding: 0px 10px 0px 10px;
            background-size: contain;
           
        }

    }
}
//   PC
@media (min-width: 1200px) {
    .contact{
        display: flex;
        justify-content: space-between;
        margin-top: 100px;
    

        &-title{
            padding: 0px 70px;
            font-size: variables.$typography-font-size-150;
            font-family: variables.$font-primary;
        }
    } 
    .start{
        margin-top: 10px;
        width: 870px;
        &-title{
            font-size: variables.$typography-font-size-62;
            font-weight: bold;
            text-align: left;
            margin-bottom: 30px;
            line-height:75px;
        }
        &-description{
            font-size: medium;
            font-size: variables.$typography-font-size-35;
            text-align: left;
        }
        &-get-in-button{
            padding: 15px 30px;
        }
       
    }
}
// Tablet
@media (min-width: 768px) and (max-width: 1200px) {
    .contact{
        margin-top: 100px;
    

        &-title{
            padding: 30px 20px 30px 20px;
            font-size: variables.$typography-font-size-150;
            font-family: variables.$font-primary;
        }
    } 
    .start{
        margin-top: 30px;
        &-title{
            font-size: variables.$typography-font-size-62;
            
            font-weight: bold;
            text-align: center;
            margin-bottom: 30px;
            line-height:75px;
        }
        &-description{
            font-size: medium;
            font-size: variables.$typography-font-size-35;
            text-align: center;
        }
        &-get-in-button{
            padding: 15px 30px;
            margin-left: 315px;
        }
       
    }
}