@use '../helpers/mixins.scss' as mixins;
@use '../helpers/variables.scss' as variables;
@use '../helpers/fonts.scss' as fonts;

.header {
    @include mixins.containerMobile;
    @include mixins.textAlignCenter;
    @include mixins.alignItemsCenter;
    padding-top: 20px;
    font-family: 'Gilroy SemiBold', sans-serif;
    color: variables.$color-black;

    &__top {
        @include mixins.flexbox;
        @include mixins.spaceBetween;
        margin-bottom: 30px;
    }

    &__group {
        @include mixins.flexbox;
        @include mixins.spaceBetween;
        width: 363px;
    }

    &__logo {
        width: 91px;
        height: 35px;
        @include mixins.background('../../images/logo/logo.svg');
    }

    &__company {
        width: 262px;
        height: 43px;
        @include mixins.background('../../images/logo/logo2.svg');
        @include mixins.display(none);
    }

    &__menu {
        @include mixins.uppercase;
        font-size: variables.$typography-font-size-25;
        line-height: 29.3px;
    }

    h1 {
        @include mixins.uppercase;
        font-size: variables.$typography-font-size-46;
        line-height: 66.8px;
    }

    h2 {
        @include mixins.capitalize;
        font-family: 'Gilroy Light', sans-serif;
        font-size: variables.$typography-font-size-46;
        line-height: 65.72px;
        margin-bottom: 30px;
    }

    &__arrow {
        display: inline-block;
        width: 100%;
        height: 40px;
        @include mixins.background('../../images/header/scrolldown.svg');
        margin-bottom: 20px;
    }
}

.info {
    @include mixins.textAlignCenter;
    @include mixins.alignItemsCenter;

    &__img-m {
        width: 478px;
        height: 638px;
    }

    &__img-t {
        @include mixins.display(none);
    }

    &__img-d {
        @include mixins.display(none);
    }

    &__description {
        font-family: 'Gilroy Light', sans-serif;
        padding: 30px 20px;
        font-size: variables.$typography-font-size-30;
        line-height: 34.59px;
    }

    &__main {
        font-family: 'Gilroy SemiBold', sans-serif;
        font-weight: 800;
    }

    &__media {
        height: 188px;
        width: 100%;
        background-color: variables.$color-black;
        padding: 40px 30px;
    }

    h3 {
        @include mixins.uppercase;
        font-family: 'Gilroy', sans-serif;
        font-size: variables.$typography-font-size-28;
        line-height: 28px;
        @include mixins.textAlignRight;
        color: variables.$color-white;
        margin-bottom: 30px;
    }

    &__group {
        @include mixins.flexbox;
        justify-content: flex-end;
    }

    &__link {
        display: inline-block;
        width: 50px;
        height: 50px;
        margin-left: 20px;
    }

    &__link-1 {
        @include mixins.background('../../images/social_media/facebook_1.svg');
    }

    &__link-2 {
        @include mixins.background('../../images/social_media/twitter_2.svg');
    }

    &__link-3 {
        @include mixins.background('../../images/social_media/linkedin_3.svg');
    }

    &__link-4 {
        @include mixins.background('../../images/social_media/dribble_4.svg');
    }
}