@use '../helpers/mixins.scss' as mixins;
@use '../helpers/variables.scss' as variables;
@use '../helpers/fonts.scss' as fonts;

.my-clients{

    &-title{
        font-family: variables.$font-primary;
        font-size: variables.$typography-font-size-80;
        white-space: nowrap;
        text-align: center;
        padding: 30px 21px 70px 21px;
    }
    &-list{
        padding-left: 21px;

        &-item{
            margin-bottom: 70px;
            border-bottom: 1px solid black;

            &-banner{
                width:180.86px;
                height: 35.55px;
                padding-left: 21px;
            }
            &-title{
                font-size: variables.$typography-font-size-40;
                font-family: variables.$font-primary;
                font-weight: 800;
                line-height: 44px;
                padding: 30px 0px 30px 0px;
                text-align: left;

            }
            &-description{
                font-size: variables.$typography-font-size-20;
                text-align: left;
                margin-bottom: 30px;
            }

            &-profile{
                display: flex;
                &-pic{
                    width: 70px;
                    height: 70px;
                    gap: 10px;
                    border-radius: 50px 0px 0px 0px;
                }
            }
                &-info{
                    padding: 10px 20px 10px ;
                    margin-bottom: 30px;
                    &-name{
                        font-size: 20px;
                        font-weight: 600;
                        margin-bottom: 10px;
                       
                    }
                    &-job{
                        font-size: variables.$typography-font-size-20;
                        font-weight: 400;
                      
                    }
                }
    }
}
}
// PC
@media (min-width: 1200px) {
    .my-clients{
      &-title{
        font-size: variables.$typography-font-size-212;
      }

        &-list{
            display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, auto);  
  gap: 20px;
        }
        &-item{
            border-right:1px solid black ;
        }
    }
}

// Tablets (768px до 1200px)
@media (min-width: 768px) and (max-width: 1200px) {
    .my-clients{
        &-title{
            font-size: variables.$typography-font-size-80;;
        }
  
          &-list{
           flex-grow: 2;
          }
          &-item{
              border-bottom:1px solid black;
              width: 100%;
          }
      }
  }

