@use '../helpers/mixins.scss' as mixins;
@use '../helpers/variables.scss' as variables;
@use '../helpers/fonts.scss' as fonts;

/*  Mobile */
body {
    background-color: variables.$primary-color;
}

.logotypes {
    height: 490px;
    @include mixins.containerMobile;

    &__item {
        margin-top: 23px;
        height: 70px;
        margin: 0px auto 20px;
    }

    &__group {
        @include mixins.flexbox;
        @include mixins.spaceBetween;
    }

    &__group-2 {
        padding: 0 20px;
    }

    &-m {
        padding-top: 20px;
    }
    
    &-t {
        display: none;
    }

    &-d {
        display: none;
    }

    &__item-1 {
        @include mixins.background('../../images/logotypes/logo_1.svg');
        width: 230px;
    }

    &__item-2 {
        @include mixins.background('../../images/logotypes/logo_2.svg');
        width: 270px;
    }
    
    &__item-3 {
        @include mixins.background('../../images/logotypes/logo_3.svg');
        width: 184px;
    }

    &__item-4 {
        @include mixins.background('../../images/logotypes/logo_4.svg');
        width: 230px;
    }

    &__item-5 {
        @include mixins.background('../../images/logotypes/logo_5.svg');
        width: 215px;
    }

    &__item-6 {
        @include mixins.background('../../images/logotypes/logo_6.svg');
        width: 164px;
    }

    &__item-7 {
        @include mixins.background('../../images/logotypes/logo_7.svg');
        width: 225px;
    }
}

.selected {
    @include mixins.containerMobile;
    font-family: 'Gilroy', sans-serif;

    &__group {
        margin-bottom: 25px;
    }

    h2 {
        margin: 30px 0;
        @include mixins.uppercase;
        font-size: variables.$typography-font-size-80;
        line-height: 92.24px;
        @include mixins.textAlignCenter;
        letter-spacing: 0.04em;
    }

    h4 {
        font-family: 'Gilroy', sans-serif;
        font-size: variables.$typography-font-size-35;
        @include mixins.uppercase;
        font-weight: bold;
        line-height: 41px;
        margin-bottom: 20px;
    }

    &__img {
        width: 438px;
        height: 434px;
        margin: 0 auto 20px;
    }

    &__nav {
        margin: 0 auto 20px;
        width: 438px;
    }

    &__img-1 {
        @include mixins.background('../../images/selected_work/work_1.svg');
    }

    &__img-2 {
        @include mixins.background('../../images/selected_work/work_2.svg');
    }

    &__img-3 {
        @include mixins.background('../../images/selected_work/work_3.svg');
    }

    &__img-4 {
        @include mixins.background('../../images/selected_work/work_4.svg');
    }

    &__link {
        display: inline-block;
        margin-right: 30px;
        padding: 15px 30px;
        background-color: variables.$color-white;
        @include mixins.capitalize;
        font-size: variables.$typography-font-size-18;
        line-height: 21px;
        border-radius: 50px;
    }

    &__btn-1 {
        margin-top: 20px;
        text-align: right;

        .selected__link {
            color: variables.$color-white;
            background-color: variables.$color-black;
            display: inline-flex;
            @include mixins.alignItemsCenter;
            @include mixins.justifyContentCenter;
        }

        .selected__link::after {
            content: "";
            display: inline-block;
            @include mixins.background('../../images/selected_work/arrow.svg');
            width: 13px;
            height: 21px;
            margin-left: 10px;
        }
    }

    &__btn-2 {
        width: 438px;
        margin: 0 auto 20px;
    }

    &__btn-2 .selected__link {
        width: 100%;
        @include mixins.textAlignCenter;
        margin-bottom: 30px;
    }
}

.team {
    @include mixins.containerMobile;
    font-family: 'Gilroy', sans-serif;
    margin-bottom: 30px;
    border-top: 1px solid variables.$color-black;
    border-bottom: 2px solid grey;
    padding-top: 30px;
    padding-bottom: 30px;

    &__container-d {
        display: none;
    }

    h2 {
        @include mixins.uppercase;
        font-size: variables.$typography-font-size-80;
        line-height: 92.24px;
        @include mixins.textAlignCenter;
        letter-spacing: 0.04em;
        margin-bottom: 30px;
    }

    &__card {
        padding: 20px 0 0;
        margin: 0 auto 20px;
        width: 438px;
        @include mixins.textAlignCenter;
    }

    &__photo {
        width: 438px;
        height: 507px;
        margin-bottom: 15px;
    }

    h4 {
        font-family: 'Gilroy SemiBold', sans-serif;
        @include mixins.uppercase;
        font-size: variables.$typography-font-size-30;
        line-height: 36.75px;
        font-weight: 800;
        margin-bottom: 5px;
        color: variables.$color-dark-grey;
    }

    &__position {
        font-size: variables.$typography-font-size-20;
        color: variables.$color-dark-grey;
        line-height: 23.44px;
        @include mixins.capitalize;
        margin-bottom: 15px;
    }

    &__icon {
        display: inline-block;
        width: 30px;
        height: 30px;
        margin-left: 10px;
    }

    &__icon-1 {
        @include mixins.background('../../images/social_media/black/facebook_1.svg');
    }

    &__icon-2 {
        @include mixins.background('../../images/social_media/black/twitter_2.svg');
    }

    &__icon-3 {
        @include mixins.background('../../images/social_media/black/linkedin_3.svg');
    }

    &__icon-4 {
        @include mixins.background('../../images/social_media/black/dribble_4.svg');
    }

    h4.team__subtitle {
        font-family: 'Gilroy', sans-serif;
        font-weight: 300;
        text-align: center;
        margin: 30px 0 15px;
    }

    h4.team__subtitle-2 {
        text-align: center;
        font-size: 40px;
        line-height: 46.88px;
    }

    &__link {
        display: inline-block;
        margin-right: 30px;
        padding: 15px 30px;
        background-color: variables.$color-white;
        @include mixins.capitalize;
        font-size: variables.$typography-font-size-18;
        line-height: 21px;
        border-radius: 50px;
    }

    &__btn-1 {
        margin-top: 20px;
        text-align: center;

        .team__link {
            width: 100%;
            color: variables.$color-white;
            background-color: variables.$color-black;
            display: inline-flex;
            @include mixins.alignItemsCenter;
            @include mixins.justifyContentCenter;
        }

        .team__link::after {
            content: "";
            display: inline-block;
            @include mixins.background('../../images/selected_work/arrow.svg');
            width: 13px;
            height: 21px;
            margin-left: 10px;
        }
    }
}


/* Tablet */
@media (min-width: 768px) {
    .header {
        @include mixins.containerTablet;
        padding-top: 40px;

        &__company {
            @include mixins.display();
        }
    }

    .info {
        @include mixins.textAlignCenter;
        @include mixins.alignItemsCenter;

        &__img-m {
            @include mixins.display(none);
        }

        &__img-t {
            width: 991px;
            height: 956px;
            @include mixins.display();
            @include mixins.marginAuto();
        }

        
        &__img-d {
            @include mixins.display(none);
        }
    
        &__description {
            font-family: 'Gilroy Light', sans-serif;
            padding: 30px 30px;
            font-size: variables.$typography-font-size-52;
            line-height: 59.96px;
        }
    }

    .logotypes {
        height: 240px;

        &-m {
            display: none;
        }

        &-t {
            display: block;
        }

        &-d {
            display: none;
        }

        &__group {
            @include mixins.flexbox;
            @include mixins.spaceBetween;
        }

        &__group-1 {
            padding: 40px 138px 0px;
        }

        &__item {
            height: 65px;
        }
    }

    .selected {
        @include mixins.containerTablet;

        &__nav {
            width: 931px;
        }

        &__btn-2 {
            @include mixins.flexbox;
            justify-content: center;
        }

        &__btn-2 .selected__link {
            width: auto;
            padding: 15px 60px;
        }

        &__img {
            width: 931px;
            height: 931px;
            margin: 0 auto 30px;
        }

        &__img-1 {
            @include mixins.background('../../images/selected_work/work_1t.svg');
        }
    
        &__img-2 {
            @include mixins.background('../../images/selected_work/work_2t.svg');
        }
    
        &__img-3 {
            @include mixins.background('../../images/selected_work/work_3t.svg');
        }
    
        &__img-4 {
            @include mixins.background('../../images/selected_work/work_4t.svg');
        }
    }

    .team {
        @include mixins.containerTablet;
        padding-top: 30px;
        padding-bottom: 50px;

        &__container-d {
            display: none;
        }

        &__group {
            @include mixins.flexbox;
        }

        &__card {
            text-align: left;
        }

        &__media {
            text-align: right;
        }

        h4.team__subtitle {
            @include mixins.textAlignLeft;
        } 

        h4.team__subtitle-2 {
            @include mixins.textAlignLeft;
            font-size: variables.$typography-font-size-62;
            line-height: 75px;
        }

        &__btn-1 {
            width: 165px;
        }

        &__bottom {
            width: 900px;
            margin: 0 auto;
        }
    }
}

/* Desktop */
@media (min-width: 1200px) {
    .header {
        @include mixins.containerDesktop;
        padding-top: 40px;

        &__company {
            @include mixins.display();
        }
    }

    .info {
        &__img-m {
            @include mixins.display(none);
        }

        &__img-t {
            @include mixins.display(none);
        }

        &__img-d {
            width: 1920px;
            height: 956px;
            @include mixins.display();
            @include mixins.marginAuto();
        }
    
        &__description {
            font-family: 'Gilroy Light', sans-serif;
            padding: 0 30px;
            font-size: variables.$typography-font-size-62;
            line-height: 71.49px;
        }

        &__about {
            padding: 93px 0 93px 70px;
            @include mixins.flexbox;
        }

        &__media {
            height: 260px;
            width: 100%;
            padding: 60px 70px;
        }

        h3 {
            font-size: variables.$typography-font-size-32;
            line-height: 32px;
        }
    }

    .logotypes {
        height: 210px;
        border-top: 1px solid variables.$color-black;
        border-bottom: 2px solid grey;

        &-m {
            display: none;
        }

        &-t {
            display: none;
        }

        &-d {
            height: 100%;
            @include mixins.flexbox;
            @include mixins.spaceBetween;
        }

        &__item {
            margin-bottom: 0;
        }
    }
    
    .selected {
        @include mixins.containerDesktop;
        width: 1780px;
        margin: 0 auto;

        &__btn-2 .selected__link {
            margin-bottom: 100px;
        }

        &__group {
            @include mixins.flexbox;
            justify-content: flex-start;
            gap: 40px;
        }

        &__group-1 {
            flex-direction: row-reverse;
            justify-content: flex-end;
        }

        &__img, &__nav {
            width: 565px;
            height: 565px;
        }

        h4 {
            padding-top: 30px;
        }
    
        &__img-1 {
            @include mixins.background('../../images/selected_work/work_2t.svg');
        }
    
        &__img-2 {
            @include mixins.background('../../images/selected_work/work_1.svg');
        }
    
        &__img-3 {
            @include mixins.background('../../images/selected_work/work_3.svg');
        }
    
        &__img-4 {
            @include mixins.background('../../images/selected_work/work_4.svg');
        }

        &__btn-1 {
            padding-top: 315px;
        }
    }

    .team {
        @include mixins.containerDesktop;
        padding-top: 50px;
        padding-bottom: 50px;

        &__container-mt {
            display: none;
        }

        &__container-d {
            display: block;
        }

        h2 {
            font-size: variables.$typography-font-size-212;
            line-height: 244px;
        }

        &__group {
            display: flex;
            gap: 40px;
        }

        &__card {
            width: 25%;
        }

        &__media {
            width: 438px;
        }

        &__bottom {
            width: 50%;
        }
    }
}
