@use '../helpers/mixins.scss' as mixins;
@use '../helpers/variables.scss' as variables;
@use '../helpers/fonts.scss' as fonts;

.what-i-do {
    display: flex;


    &_pic{
     width: 980px;
    height: 1137px;
    
    

    }
    &_text{
       padding-left: 111px;

        &_title{
            font-family: variables.$font-primary;
    font-size: variables.$typography-font-size-150;
    font-weight: 300;
    line-height: 172.95px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    padding:70px 0px 100px 0px;

        }
        &_item{
            margin-bottom: 40px;


            &_title{
                font-family: variables.$font-secondary;
                font-size: variables.$typography-font-size-46;
                line-height: 48px;
                text-align: left;
                margin-bottom: 10px;
                font-weight: bold;
                text-transform: uppercase;

                &_number{
                    font-family: Gilroy-Semi;
                    font-size: 44px;
                    line-height: 48px;
                    text-align: left;
                    text-underline-position: from-font;
                    text-decoration-skip-ink: none;
                    font-weight: normal;

                }
            }
            &_description{
                font-family: variables.$font-primary;
                font-size: variables.$typography-font-size-24;
                font-weight: 400;
                line-height: 28px;
                text-align: left;
                border-bottom: 2px solid rgba(37, 37, 37, 1);
                padding-bottom: 40px;
                width: 759px;
            


            }
        }
    }
}
// Медиазапросы

// Phones (до 768px)
@media (max-width: 768px) {
    .what-i-do {
        flex-direction: column;
        

        &_pic {
            width: 478px;
            height: 478px;
            gap: 0px;
            opacity: 1;

            margin-bottom: 20px;
        }

        &_text {
            padding: 0 10px 30px;
            text-align: center;
            margin-left: 20px;
            margin-right: 20px;
            width: 478px;

            &_title {
                font-size: variables.$typography-font-size-80;
                line-height: 1.5;
                white-space: nowrap;
                padding: 20px 0px 40px;
                
            }

            &_item {
                &_title {
                    font-size: variables.$typography-font-size-30;
                    text-align: left;
                }

                &_description {
                    padding-bottom: 15px;
                    width: 100%;
                }
            }
        }
    }
}

// Tablets (768px до 1200px)
@media (min-width: 768px) and (max-width: 1200px) {
    .what-i-do {
        flex-direction: column;
        

        &_pic {
            flex: 1;
            width: 991px;
            height: auto;
            margin-right: 20px;
        }

        &_text {
            flex: 2;
            padding-left: 50px;
            margin-left: 30px;
            width: 100%;

            &_title {
                font-size: variables.$typography-font-size-52;
                line-height: 1.3;
                text-align: center;
            }

            &_item {
                margin-bottom: 20px;

                &_title {
                    font-size: variables.$typography-font-size-28;
                }

                &_description {
                    font-size: variables.$typography-font-size-25;
                    padding-bottom: 20px;
                    width: 100%;
                }
            }
        }
    }
}